[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "==2.9.5"
django-allauth = "==0.43.0"
django-crispy-forms = "==1.14.0"
environs = {version = "==9.5.0", extras = ["django"]}
python-dotenv = "*"
pillow = "==9.3.0"
django = "==4.0.8"
django-debug-toolbar = "==3.5.0"

[dev-packages]

[requires]
python_version = "3.10"
